@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #171824;
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden;
}

a{
  text-decoration: none;
  color: white;
}


